<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>T2_JEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>saveEtudiant</display-name>
    <servlet-name>saveEtudiant</servlet-name>
    <servlet-class>Metier.saveEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveEtudiant</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEtudiant</display-name>
    <servlet-name>DeleteEtudiant</servlet-name>
    <servlet-class>Metier.DeleteEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEtudiant</servlet-name>
    <url-pattern>/DeleteEtudiant</url-pattern>
  </servlet-mapping>
</web-app>